---
// This dynamic route handles /g/<graetzl-slug> URLs
// It simply returns the main page, which will handle the graetzl selection client-side
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<div id="map"></div>
</Layout>
